[submodule "rpms/llvm"]
	path = rpms/llvm
	url = https://src.fedoraproject.org/rpms/llvm.git
	branch = rawhide
[submodule "rpms/clang"]
	path = rpms/clang
	url = https://src.fedoraproject.org/rpms/clang.git
	branch = rawhide
[submodule "rpms/llvm-test-suite"]
	path = rpms/test-suite
	url = https://src.fedoraproject.org/rpms/llvm-test-suite.git
	branch = rawhide
[submodule "rpms/compiler-rt"]
	path = rpms/compiler-rt
	url = https://src.fedoraproject.org/rpms/compiler-rt.git
	branch = rawhide
[submodule "rpms/libcxx"]
	path = rpms/libcxx
	url = https://src.fedoraproject.org/rpms/libcxx.git
	branch = rawhide
[submodule "rpms/libcxxabi"]
	path = rpms/libcxxabi
	url = https://src.fedoraproject.org/rpms/libcxxabi.git
	branch = rawhide
[submodule "rpms/polly"]
	path = rpms/polly
	url = https://src.fedoraproject.org/rpms/polly.git
	branch = rawhide
[submodule "rpms/lldb"]
	path = rpms/lldb
	url = https://src.fedoraproject.org/rpms/lldb.git
	branch = rawhide
[submodule "rpms/lld"]
	path = rpms/lld
	url = https://src.fedoraproject.org/rpms/lld.git
	branch = rawhide
[submodule "rpms/libunwind"]
	path = rpms/libunwind
	url = https://src.fedoraproject.org/rpms/libunwind.git
	branch = rawhide
[submodule "rpms/libomp"]
	path = rpms/libomp
	url = https://src.fedoraproject.org/rpms/libomp.git
	branch = rawhide
