# Convert this file into a requirements.txt file by running:
#
# pip install pip-tools
# pip-compile -o requirements.txt  requirements.txt.in

PyGithub==2.3.0
pandas
plotly==5.22.0
copr-cli
tft-cli==0.0.16
regex==2023.12.25
munch==4.0.0
copr==1.130
requests==2.31.0
fnc
