# Convert this file into a requirements.txt file by running:
#
# pip install pip-tools
# pip-compile -o requirements.txt  requirements.txt.in

PyGithub==2.3.0
pandas
plotly==5.23.0
copr-cli
tft-cli==0.0.17
regex==2024.5.15
munch==4.0.0
copr==1.132
requests==2.32.3
fnc
