# Convert this file into a requirements.txt file by running:
#
# pip install pip-tools
# pip-compile -o requirements.txt  requirements.txt.in

PyGithub==2.8.1
pandas
plotly==6.5.0
copr-cli
tft-cli==0.0.16
regex==2025.11.3
munch==4.0.0
copr==2.5
requests==2.32.5
fnc
coverage==7.12.0
koji
pytest==9.0.2
