name: "Check python code with pytest"

on: [push, pull_request]

jobs:
  pytest:
    name: pytest
    runs-on: ubuntu-latest
    container:
      image: "registry.fedoraproject.org/fedora:42"
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/prepare-python
        with:
          use-system-python: true
      - name: Run pytest
        shell: bash -e {0}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          make ci-test
