name: "Mass Rebuild Runner"

on:
  schedule:
    # Run on the first of every month.
    - cron: 30 1 1 * *
  workflow_dispatch:

permissions:
  contents: read

jobs:
  start-rebuild:
    if: github.repository_owner == 'fedora-llvm-team'
    runs-on: ubuntu-24.04
    container:
      image: "registry.fedoraproject.org/fedora:41"
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            scripts/rebuilder.py
          sparse-checkout-cone-mode: false

      - name: Setup Copr config file
        env:
          # You need to have those secrets in your repo.
          # See also: https://copr.fedorainfracloud.org/api/.
          COPR_CONFIG_FILE: ${{ secrets.COPR_CONFIG }}
        run: |
          mkdir -p ~/.config
          printf "$COPR_CONFIG_FILE" > ~/.config/copr

      - name: Start rebuild
        run: |
          sudo dnf install -y python3-dnf python3-copr
          python3 scripts/rebuilder.py rebuild
